@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border-radius: 10px;
}

/* UTILITIES */
.container {
    padding: 1rem;
    max-width: 1250px;
    margin: auto;
}

.gap-1 {
    gap: 1rem;
}

/* NAVIGATION */
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 5px 10px 0px rgba(205, 205, 205, 0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(205, 205, 205, 0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(205, 205, 205, 0.75);
}

.navigation .container {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
}
.fa-reddit-square {
    color: red;
}

.logo a {
    color: red;
}

.title {
    color: red;
}

.blue {
    color: blue
}

.right {
    text-align: right;
    flex: 1;
}

.subreddits-btn {
    padding: 0.5rem;
    border: 0;
    background-color: rgb(67, 67, 252);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

.search {
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-form input {
    border-radius: 5px;
    border: 0;
    background-color: rgb(233, 233, 233);
    padding: 0.5rem;
    width: 100%;
}

.search-form button {
    border: 0;
    cursor: pointer;
    background-color: white;
    color: rgb(53, 53, 53);
}

/* MAIN */
.main {
    display: flex;
    margin: 5.9rem 0 1rem 0;
}

/* POSTS */

.posts {
    width: 70%;
}

.posts-list {
    display: flex;
    flex-direction: column;
}

.post {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px rgba(205, 205, 205, 0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(205, 205, 205, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(205, 205, 205, 0.75);
}

.post-votes {
    display: flex;
}

.post-title-link {
    color: rgb(49, 49, 49);
}

.post-title-link:hover {
    color: blue;
}

.author-time-com {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(221, 218, 218);
    padding-top: 0.5rem;
    color: rgb(94, 92, 92);
    align-items: center;
    word-break: break-all;
}

.author {
    color: blue;
    font-weight: bold;
}

.comments {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.2rem;
}

.comments:hover {
    background-color: rgb(228, 226, 224);
    border-radius: 5px;
}

.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.5rem;
    padding: 0.8rem;
    background-color: rgb(236, 236, 236);
    color: rgb(43, 43, 43);
}

.votes-title {
    display: flex;
}

.title-media-author {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
}

.post-img {
    max-width: 100%;
}

/* SUBS */

.subs {
    width: 30%;
}

.subs .container {
    padding: 1rem 0 1rem 1rem;
}

.subs-list {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px rgba(205, 205, 205, 0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(205, 205, 205, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(205, 205, 205, 0.75);
    border-radius: 5px 0px 0px 5px;
    padding: 0.5rem;
}

.subs-list-title {
    padding: 0.5rem 0 0 0.5rem;
}

.sub {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
}

.currSub {
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(206, 206, 206);
    border-left: 4px solid rgb(40, 40, 243);
}

.sub-title {
    word-break: break-all;
}

.sub:hover {
    background: rgb(228, 226, 224);
    border-radius: 5px;
}

.currSub:hover {
    border-radius: 0px 5px 5px 0px;
}

.sub-img {
    border-radius: 50%;
    max-width: 40px;
    border: 3px solid grey;
}

.loading-posts {
    width: 100%;
}
.loading-subs {
    width: 100%;
}

.container-loading {
    padding: 1rem;
    margin: auto;
}

/* NOTFOUND */
.not-found {
    margin-top: 1rem;
    text-align: center;
}

.back {
    margin-top: 1rem;
    background-color: blue;
    border: 0;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

/* COMMENTS */
.post-comments {
    word-wrap: break-word;
}

.com-author {
    color: blue;
}

.comments-list {
    display: flex;
    flex-direction: column;
}

.comment {
    background-color: rgb(238, 234, 234);
    padding: 1rem;
    border-radius: 5px;
}

/* MEDIA QUERYS */
@media only screen and (max-width: 700px) {

    .title {
        display: none;
    }
    
    .logo {
        flex: 0.5;
    }
    
    .right {
        flex: 0.5;
    }
    
    .subreddits-btn {
        display: inline;
    }

    .main {
        flex-direction: column;
    }

    .posts {
        width: 100%;
    }

    .subs {
        width: 100%;
    }

    .subs .container {
        padding: 1rem;
    }
    
    .subs-list {
        border-radius: 5px;
    }

    .sub {
        text-align: center;
    }

    .votes {
        width: 2rem;
        padding: 0.8rem 1.5rem;
    }

    .author-time-com {
        font-size: 12px;
    }
}